.App {
    display: flex;
    background: #fdf6ea;
    justify-content: center;
}

h1 {
    text-align: center;
    color: #646464;
    border-bottom: #646464 solid 1px;
    margin: 0 0 0 0;
}

.tableContainer {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    grid-gap: 3px;
    margin-top: 3px;
}